{% extends 'base.html' %}
{% load i18n %}
{% load widget_tweaks %}
{% block js_lib %} {{ form.media }} {% endblock %}
{% block content %}
{% load cropping %}

{% block js_post %}
<script src="/static/js/announcement_form.js"></script> 
{% endblock %}


<div class="container main-container">
    <div class="form-wrapper">
            
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
        
                <h4 class="title">{% trans 'Ваш аккаунт активирован' %}</h4>

                <br />   
                <a href="{% url 'profile_edit' %}" class="btn btn-primary"> {% trans 'Редактировать профиль' %}" </a>
            </div>

        </div>
           
    </div>
</div>

       
{% endblock %}