{% extends 'base.html' %}
{% load i18n %}
{% load widget_tweaks %}
{% block js_lib %} 
    <base href="/dashboard">
    <script src="/static/node_modules/reflect-metadata/Reflect.js"></script>
    <script src="/static/node_modules/zone.js/dist/zone.js"></script>
    <script src="/static/node_modules/es6-shim/es6-shim.min.js"></script>
    <script src="/static/node_modules/systemjs/dist/system.js"></script>
    
    <script>

            SystemJS.config({ 
                baseURL: '.',
                map: {
                  '@angular/core': '/static/node_modules/@angular/core/bundles/core.umd.js',
                  '@angular/platform-browser-dynamic': '/static/node_modules/@angular/platform-browser-dynamic/bundles/platform-browser-dynamic.umd.js',
                  '@angular/compiler': '/static/node_modules/@angular/compiler/bundles/compiler.umd.js',
                  '@angular/common': '/static/node_modules/@angular/common/bundles/common.umd.js',
                  '@angular/platform-browser': '/static/node_modules/@angular/platform-browser/bundles/platform-browser.umd.js',
                  '@angular/router': '/static/node_modules/@angular/router/bundles/router.umd.js',
                  'rxjs': '/static/node_modules/rxjs',
                  'app': '/static/out-tsc/angular-app'
                }, 
                paths: {
                    "*": "*.js" // should load all libraries with .js appended
                  },                
                packages: {
                  rxjs: {defaultExtension: 'js'},
                  app: { defaultExtension: 'js' }
                }  
              })
              SystemJS.import('/static/out-tsc/main.js').then(function(m){
              }, function(error){
                 console.log(error);
              });        
    </script>

{% endblock %}
{% block content %}
{% load cropping %}


<div class="container main-container">
    
    <header class="section-head">
            <div class="section-head-inner">
                <h3 class="section-title">{% trans 'Личный кабинет' %}</h3>
            </div>
    </header>

    <div class="row">
        <user-dashboard></user-dashboard>
    </div>

    <div class="row">
        <div class="col-md-6">

                <h4 class="title">{% trans 'Мои продажи' %}</h4>

                <article class="job-item clearfix">
                    <figure class="job-figure">
                        <a href="#"><img class="img-responsive" src="images/jobs/1.jpg" alt="Job"></a>
                    </figure>
                    <header class="job-header">
                        <h4 class="job-title"><a href="#">ABC PVT LTD</a></h4>
                        <address class="job-address">3301 Woodland Drive Sioux City,<br> IA 51101</address>
                        <p class="job-time"><span>Available Time:</span> 12:00 AM - 06:00 PM</p>
                    </header>
                    <div class="job-meta">
                        <span class="job-price">$220/Cost</span>
                        <p class="job-skills">
                            <span>Skills:</span>
                            <a href="#">Electrician</a>
                            <a href="#">House Wiring</a>
                        </p>
                    </div>
                </article>                
                   
        </div>
        <div class="col-md-6">
        
                <h4 class="title">
                    {% trans 'Мои покупки' %} 
                    
                    <a href="{% url 'add_announce' %}" class="btn btn-success add_btn">
                        <i class="fa fa-plus"></i>&nbsp;
                        {% trans 'Добавить покупку' %}
                    </a>
                    <div class="clear"></div>
                </h4>
                
                    
                
                <article class="job-item clearfix">
                        <figure class="job-figure">
                            <a href="#"><img class="img-responsive" src="images/jobs/1.jpg" alt="Job"></a>
                        </figure>
                        <header class="job-header">
                            <h4 class="job-title"><a href="#">ABC PVT LTD</a></h4>
                            <address class="job-address">3301 Woodland Drive Sioux City,<br> IA 51101</address>
                            <p class="job-time"><span>Available Time:</span> 12:00 AM - 06:00 PM</p>
                        </header>
                        <div class="job-meta">
                            <span class="job-price">$220/Cost</span>
                            <p class="job-skills">
                                <span>Skills:</span>
                                <a href="#">Electrician</a>
                                <a href="#">House Wiring</a>
                            </p>
                        </div>
                    </article>                  

        </div>
    </div>

</div>

       
{% endblock %}