{% extends 'base.html' %}
{% load i18n %}
{% load widget_tweaks %}
{% block js_lib %} {{ form.media }} {% endblock %}
{% block content %}
{% load cropping %}

{% block js_post %}
<script src="/static/js/announcement_form.js"></script> 
{% endblock %}


<div class="container main-container">
    <div class="form-wrapper">
            
        <form id="basic-information" class="profile-forms basic-information" method="post" action="">
            {% csrf_token %}
            <h4 class="title">{% trans 'Редактирование профайла' %}</h4>
            <div class="line"></div>
            
            <div class="row">
                    <div class="col-md-4">
                            <img src='{% cropped_thumbnail form.instance "cropping" width=200 %}' />
                    </div>
                    <div class="col-md-8">
                       
                            {{ form.cropping }}
                            {{ form.avatar }}
                        
                    </div>
                </div>            

            <div class="row">
                <div class="col-md-4">
                    <span class="title">{% trans 'Фамилия' %}</span>
                    {{ form.first_name }}
                    <span class="error-block">{{ form.first_name.errors }}</span>
                </div>
                <div class="col-md-4">
                    <span class="title">{% trans 'Имя' %}</span>
                    {{ form.last_name }}
                </div>
                <div class="col-md-4">
                    <span class="title">{% trans 'Отчество' %}</span>
                    {{ form.middle_name }}
                </div>
            </div> 

            <div class="row">
                    
                <div class="col-md-4">
                    <span class="title">{% trans 'Регион' %}</span>
                    {{ form.region|add_class:"form-control indigo-select" }}
                </div>
                <div class="col-md-4">
                    <span class="title">{% trans 'Город' %}</span>
                    {{ form.city|add_class:"form-control indigo-select" }}
                </div>
                <div class="col-md-4">
                    <span class="title">{% trans 'Адресс' %}</span>
                    {{ form.address }}
                </div>
            </div> 


            <div class="row profile-actions">
                <div class="col-sm-4 text-left">
                    <input type="submit" value="{% trans 'Сохранить' %}">
                </div>
                <div class="col-sm-4 col-sm-offset-4 text-right">
                    <a class="add-field" href="#"><i class="fa fa-plus"></i>{% trans 'Сменить пароль' %}</a>
                </div>
            </div>

        </form>
    </div>
</div>

       
{% endblock %}