{% extends 'base.html' %}
{% load i18n %}
{% block content %}



        <div class="form-wrapper">
            <form id="sign-in" class="profile-forms basic-information"  method="post">
                {% csrf_token %}
                
                <div class="row">
                    <div class="col-md-4 col-md-offset-4">
                        <h4 class="title">Забыли пароль.</h4>
                        <div class="line"></div> 
                    </div>
                </div>


                {% if form.errors %}
                    <div class="row">
                        <div class="col-md-4 col-md-offset-4">
                            <div class="alert alert-danger" role="alert">
                                <span class="fa fa-exclamation" aria-hidden="true"></span>
                                <span class="sr-only">Error:</span>
                                {% for error in form.errors %}
                                    <p>{{ error }}</p>
                                 {% endfor %}
                            </div>
                        </div>
                    </div>   
                {% endif %}

               
                <div class="row">
                    <div class="col-md-4 col-md-offset-4">
                        <input type="text" name="email" class="required" placeholder="логин">
                    </div>
                </div>              

               
                
                <div class="row">
                    <div class="col-md-4 col-md-offset-4">
                        
                        <input type="submit" value="{% trans 'Сменить пароль' %}" class="btn btn-primary">
                    </div>
                </div>
            </form>
        </div>
{% endblock %}