{% extends 'base.html' %}
{% load i18n %}
{% block content %}



        <div class="form-wrapper">
            <form id="sign-in" class="profile-forms basic-information"  method="post">
                {% csrf_token %}
                
                <div class="row">
                    <div class="col-md-4 col-md-offset-4">
                        <h4 class="title">{% trans 'Регистрация' %}</h4>
                        <div class="line"></div> 
                    </div>
                </div>


                {% if form.errors %}
                <div class="row">
                    <div class="col-md-4 col-md-offset-4">
                        <div class="alert alert-danger" role="alert">
                            <span class="fa fa-exclamation" aria-hidden="true"></span>
                            <span class="sr-only">Error:</span>
                            {% for error in form.errors %}
                                <p>{{ error }}</p>
                             {% endfor %}
                        </div>
                    </div>
                </div>   
            {% endif %}
                  

                <div class="row">
                    <div class="col-md-4 col-md-offset-4">
                        <input type="text" name="email" class="required 
                            {% if form.email.errors %}
                                error
                            {% endif %}
                            " 
                        placeholder="email" value="{{ form.email.value }}">
                        <label class="error">{{ form.email.errors }}</label>
                    </div>
                </div> 
                
                <div class="row">
                    <div class="col-md-4 col-md-offset-4">
                        <input type="password" name="password1" class="required 
                            {% if form.password1.errors %}
                                error
                            {% endif %}
                            " 
                        placeholder="{% trans 'пароль' %}">
                        <label class="error">{{ form.password1.errors }}</label>
                    </div>
                </div>     
                
                <div class="row">
                    <div class="col-md-4 col-md-offset-4">
                        <input type="password" name="password2" class="required 
                            {% if form.password2.errors %}
                                error
                            {% endif %}
                            " 
                        placeholder="{% trans 'повтор пароля' %}">
                        <label class="error">{{ form.password2.errors }}</label>
                    </div>
                </div>           
                
                <div class="row">
                    <div class="col-md-4 col-md-offset-4">
                        
                        <input type="submit" value="{% trans 'Зарегистрироваться' %}" class="btn btn-primary">
                    </div>
                </div>                
                

            </form>
        </div>
{% endblock %}