{% extends "base.html" %}
{% load i18n %}
{% load widget_tweaks %}
{% block content %}

<div class="container main-container">
        <div class="form-wrapper">
            <form action="/replenishment/" method="POST">
                {% csrf_token %}

                <div class="row">
                        <div class="col-md-4 col-md-offset-4">
                                {{ form.ammount|add_class:"form-control" }}
                        </div>
                    </div>

                    <div class="row profile-actions">
                            <div class="col-md-4 col-md-offset-4">
                                <input type="submit" value="{% trans 'Подтвердить' %}">
                            </div>
                           
                        </div>
               
            </form>
        </div>
</div>
        

{% endblock %}