{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block meta_title %} Хочу купить. {% endblock %}</title>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese" rel="stylesheet">

    <!-- Stylesheet -->
    <link href="/static/js/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="/static/js/owl.carousel/assets/owl.theme.default.min.css" rel="stylesheet">
    <link href="/static/js/lightcase/css/lightcase.css" rel="stylesheet">
    <link href="/static/js/slicknav/slicknav.min.css" rel="stylesheet">
    <link href="/static/js/chosen/chosen.min.css" rel="stylesheet">
    <link href="/static/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/node_modules/angular2-busy/build/style/busy.css">
    <link href="/static/css/indigo.css" rel="stylesheet">
    <link href="/static/css/custom.css" rel="stylesheet">

   
    <meta http-equiv="cache-control" content="max-age=0" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="expires" content="0" />
    <meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
    <meta http-equiv="pragma" content="no-cache" />
    
    {% block js_lib %}{% endblock %}
</head>
<body>
   
<!-- Header -->
<header id="header" class="header">
    <div class="container">
        <div class="site-branding-wrap col-md-4">
            <div class="site-branding">
                <div class="wrap">
                    <h1 class="site-title"><a href="/" rel="home">
                        <!--<img class="img-responsive" src="/static/images/logo.png" alt="Indigo">-->
                    </a></h1>
                </div>
            </div>
        </div>
        <div class="header-navigation-wrap col-md-8">
            <div id="extended-bg">
                <nav id="header-navigation" class="header-navigation clearfix">
                    <ul class="header-menu clearfix">
                        <li id="hnHome"><a href="/">Главная</a></li>
                        <li id="hnAbout"><a href="/about">О нас</a></li>
                        <li id="hnRules"><a href="{% url 'show_page' alias='blog' %}">Условия и правила</a></li>
                        <li id="hnFeedback"><a href="/feedback">Обратная связь</a></li>
                    </ul>

                </nav>
            </div>
            <div class="header-links-wrap clearfix">
                {% if not user.is_authenticated %}
                <a id="signin" href="#sign-in-up" data-toggle="modal">Signin <span class="fa fa-sign-in"></span></a>
                {% else %}
                <div class="header-links">

                    {% if user.is_superuser %}
                    <a href="/admin" target=_blanck data-toggle="modal">{% trans 'Админка' %}</a>

                    {% endif %}
                    <a href="{% url 'dashboard' %}" data-toggle="modal">{% trans 'Личный кабинет' %}</a>
                    <a href="{% url 'replenishment' %}" data-toggle="modal">{{ user.profile.account }}</a>
                    <a href="/user/profile/edit" data-toggle="modal">Профиль</a>
                    <a href="/logout" data-toggle="modal">Выйти <span class="fa fa-sign-out"></span></a>
                </div>
                <div class="dropdown">
                    <a id="header-dropdown"> <i id="header-dropdown-caret-left" class="fa fa-caret-left"></i> Здравствуйте, {{user.username}} <i id="header-dropdown-caret-down" class="fa fa-caret-down"></i></a>
                </div>
                {% endif %}

            </div>
        </div>
    </div>
</header>

{% if messages %}

<div class="container">
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }}">{{ message }}</div>
    {% endfor %}
</div>
{% endif %}

{% block content %} {% endblock %}

<!-- Footer -->
{% block footer %}
<footer id="footer" class="footer">
    <div class="container">
        <a id="scroll-to-top" href="#header" class="scroll-to-top"></a>

        <nav id="footer-navigation" class="footer-navigation">
            <ul class="footer-menu clearfix">
                <li id="fnHome"><a href="/">Главная</a></li>
                <li id="fnAbout"><a href="/about">О нас</a></li>
                <li id="fnRules"><a href="{% url 'show_page' alias='blog' %}">Условия и правила</a></li>
                <li id="fnFeedback"><a href="/feedback">Обратная связь</a></li>
            </ul>
        </nav>



        <p class="copyright">© Indigo 2017 Designed by <a href="#">mine-tech</a></p>
    </div>
</footer>
{% endblock %}


<!-- Modal -->
<div id="sign-in-up" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content indigo-modal-content">
            <div id="indigo-modal" class="indigo-modal">
                <div class="indigo-tabs-container">
                    <ul class="indigo-tabs list-unstyled clearfix">
                        <li class="active">Вход</li>
                        <li>Регистрация</li>
                    </ul>
                    <div class="indigo-tabs-content">
                        <div class="indigo-tab-content active">
                            <form id="sign-in" class="indigo-forms" action="{% url 'login' %}" method="post">
                                    {% csrf_token %}
                                <input type="text" name="username" class="required" placeholder="Email Address">
                                <input type="password" name="password" class="required" placeholder="Password">
                                <div class="remember-me">
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <div class="checkboxes">
                                                <input type="checkbox" id="remember" name="remember_me">
                                                <label for="remember">Remember Me</label>
                                            </div>
                                        </div>
                                        <div class="col-xs-6 text-right">
                                            <a href="{% url 'password_reset' %}" class="forget-password">{% trans 'Забыли пароль?' %}</a><i class="fa fa-question-circle"></i>
                                        </div>
                                    </div>
                                </div>
                                <input type="submit" value="{% trans 'Войти' %}" class="btn btn-primary">
                            </form>
                        </div>
                        <div class="indigo-tab-content">
                            <form id="sign-up" class="indigo-forms" action="/user/register/" method="post">
                                {% csrf_token %}
                                <input type="text" name="email" class="required" placeholder="email">
                                <input type="password" name="password1" id="password1" class="required" placeholder="{% trans 'пароль' %}">
                                <input type="password" name="password2" id="password2" class="required" placeholder="{% trans 'повтор пароля' %}">
                                
                                <input type="submit" value="{% trans 'Зарегистрироваться' %}" class="btn btn-primary">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- .modal-content -->
    </div><!-- .modal-dialog -->
</div><!-- .modal -->


<!-- Scripts -->
<script src="/static/js/jquery-3.1.1.min.js"></script>
<script src="/static/js/jquery-migrate.min.js"></script>
<script src="/static/js/bootstrap.js"></script>
<script src="/static/js/owl.carousel/owl.carousel.min.js"></script>
<script src="/static/js/lightcase/vendor/jQuery/jquery.events.touch.js"></script>
<script src="/static/js/lightcase/js/lightcase.js"></script>
<script src="/static/js/jquery.waypoints.min.js"></script>
<script src="/static/js/jquery-countTo/jquery.countTo.js"></script>
<script src="/static/js/slicknav/jquery.slicknav.min.js"></script>
<script src="/static/js/chosen/chosen.jquery.min.js"></script>
<script src="/static/js/jquery.validate.min.js"></script>
<script src="/static/js/jquery.form.min.js"></script>
<script src="/static/js/indigo.js"></script>
<script src="/static/js/main.js"></script>
<script src="/static/js/config.js"></script>
{% block js_post %}
{% endblock %}
</body>
</html>