{% extends "base.html" %}
{% load i18n %}


{% block meta_title %} {{ page_in_template.meta_title }} {% endblock %}


{% block content %}

<div class="container">
        Залогиниться под:
        {% for u in users %}
                <a href="/rlogin/{{ u.id }}"> {{u.profile.full_name}}  </a>&nbsp;
        {% endfor %}
</div>

<!-- Jobs -->
<section id="home-jobs" class="home-jobs">
        <div class="container">
                <div class="col-xs-12">
                <header class="section-head">
                        <div class="section-head-inner">
                        <h3 class="section-title">Популярные объявления</h3>
                        </div>
                </header>
                </div>
                <div class="job-item-container clearfix">
                        {% for i in announcements %}
                                {% include "catalog/item.html" with i=i %}
                        {% endfor %}

                </div>
        </div>
</section>

<!-- Search Form -->
<div id="home-search-form" class="home-search-form search-form-section">
        <div class="container">
                <div class="col-xs-12">
                        <form id="search-form" class="search-form" action="#" method="get">
                                <div class="row">
                                <div class="form-group col-sm-4 col-md-5">
                                        <input type="text" name="s" class="required" placeholder="поиск по ключевому слову">
                                </div>
                                <div class="form-group col-sm-4 col-md-5">
                                        <input type="text" name="location" placeholder="поиск по городу">
                                </div>
                                <div class="form-group col-sm-4 col-md-2">
                                        <input type="submit" value="{% trans 'Найти' %}">
                                </div>
                                </div>
                        </form>
                </div>
        </div>
</div>
            

<div class="container main-container">
        <div class="clearfix">
                {% for c in categories %}
                        <div class="category-item-wrap col-xs-6 col-md-4 col-lg-3">
                        <figure class="category-item">
                                <a href="{{ c.get_absolute_url }}">{{ c.thumbnail|safe }}</a>
                                <figcaption>
                                <h3 class="title"><a href="{{ c.get_absolute_url }}">{{ c.name }}</a></h3>
                                </figcaption>
                        </figure>
                        </div>
                {% endfor %}
                
        </div>
</div>


<section id="home-categories" class="section-parallax"> 
        <div class="container">
                <div class="section-head-inner">
                        <h4 class="section-sub-title"></h4>
                        <h3 class="section-title">{{ page_in_template.title }}</h3>
                    </div>
            
             {{ page_in_template.content }}
        </div>
</section>



<!-- Account -->
<section id="home-account" class="home-account">
        <div class="container-fluid">
                <span class="or">OR</span>
                <div class="row">
                <div class="col-xs-6 hire-a-labour">
                        <h2 class="title">{% trans 'Куплю товар' %}</h2>
                        <p>
                                        {% trans 'Если вы хотите приобрести товар и заплатить приемлемую цену.' %}
                        </p>
                        <a href="{% url 'register' %}" class="btn btn-default btn-lg">{% trans 'Зарегистрироваться' %}</a>
                </div>
                <div class="col-xs-6 create-a-job">
                        <h2 class="title">{% trans 'Куплю услугу' %}</h2>
                        <p>
                                        {% trans 'Если хотите найти специалиста для выполнения различных работ.' %}
                        </p>
                        <a href="{% url 'register' %}" class="btn btn-default btn-lg">{% trans 'Зарегистрироваться' %}</a>
                </div>
                </div>
        </div>
</section>

            


{% endblock %}
