<!--The content below is only a placeholder and can be replaced.-->

<div class="row">

    <div class="col-md-5">
     
            <h4 class="title">Личный кабинет</h4>
       
    </div>

    <div class="col-md-7">
      <div class="entry-tags text-right">
        <a  routerLink="/index" routerLinkActive="active">Объявления на утверждении</a>
        <a  routerLink="announcements" routerLinkActive="active">Активные объявления</a>
        <a  href="/add_announce" >Новое объявление</a>
      </div>
    </div>


  <router-outlet></router-outlet>

  </div>
  