<!--The content below is only a placeholder and can be replaced.-->

<div class="row">

    <div class="col-md-6">
      <header class="section-head">
        <div class="section-head-inner">
            <h3 class="section-title">Личный кабинет</h3>
        </div>
      </header>
    </div>

    <div class="col-md-6">
      <div class="entry-tags text-right">
        <a  routerLink="/index" routerLinkActive="active">Объявления на утверждении</a>
        <a  routerLink="announcements" routerLinkActive="active">Активные объявления</a>
      </div>
    </div>


  <router-outlet></router-outlet>

  </div>
  