
<div class="row">
    <div class="col-md-12">
            <div [ngBusy]="busy"></div>
            <h4 class="title">Мои объявления</h4>
 
            <nav class="page-pagination float-right" >
                
                <span class="tabel-label">Текущая страница: {{ pager.current }}. Всего объявлений: {{ pager.count }}</span>
                <ul class="pagination">
                    <li class="pager-item"><a *ngIf="pager.has_prev" class="previous" (click)="goPage(pager.current-1, pager.limit)" >
                            <i class="fa fa-chevron-left" aria-hidden="true"></i>    
                    </a></li>
                    
                    <li  class="pager-item" ><a *ngIf="pager.has_next" class="previous" (click)="goPage(pager.current+1, pager.limit)">
                            <i class="fa fa-chevron-right" aria-hidden="true"></i>    
                    </a></li>
                </ul>
            </nav>
            <div class="clear"></div>
            <article class="job-item clearfix" *ngFor="let a of announcements" >
                <figure class="job-figure">
                    <a href="#"><div innerHTML="{{ a.thumbnail }}"></div></a>
                </figure>
                <header class="job-header">
                    <h4 class="job-title"><a href="#">{{ a.title }}</a></h4>
                    <address class="job-address">{{ a.region }} {{ a.city }}</address>
                    <p class="job-time"><span>Добавлено: {{ a.created_at }}</span></p>
                </header>
                <div class="job-meta">
                    <span class="job-price">{{ a.price }} грн.</span>
                    <p class="job-skills">
                        <span>{{ a.new_bu.value }}</span>
                        <a href="#">{{ a.opt_roznica.value }}</a>
                        
                    </p>
                </div>
            </article>                
               
    </div>
</div>

<div class="clear"></div>
<nav class="page-pagination float-right">
    <ul class="pagination">
        
        <li *ngIf="pager.has_prev" ><a class="previous" (click)="goPage(pager.current-1, pager.limit)" >
                <i class="fa fa-chevron-left" aria-hidden="true"></i>    
        </a></li>
    
        <li *ngIf="pager.has_next"><a class="previous" (click)="goPage(pager.current+1, pager.limit)">
                <i class="fa fa-chevron-right" aria-hidden="true"></i>    
        </a></li>
    </ul>
</nav>