<div [ngBusy]="busy"></div>
<div class="row">
    <div class="col-md-12">
        <h4>#19 куплу телевизор</h4>

        <div class="row">
                
            <div class="col-md-4">
                <section class="widget widget_popular_posts">
                            
                    
                    <ul>
                        <li>
                            <div class="post-thumb">
                                <a href="#"><img src="/static/images/user.jpg" alt="#"></a>
                            </div>
                            <div class="post-content">
                                <h3 class="post-title">Инфо</h3>
                                <span class="post-comment"><i class="fa fa-comment" aria-hidden="true"></i> 2 предложения</span>
                                <span class="post-date"><i class="fa fa-calendar-o" aria-hidden="true"></i> July 11, 2016</span>
                            </div>
                            <a href="" class="btn btn-danger" >Оплатить рекламу</a>
                        </li>
                    </ul>
                </section>

                <div class="table-responsive">
                        <table class="table">
                          <th>
                              <tr>
                                <td>Автор</td>
                                <td>Сообщений</td>
                            </tr>                                                                           
                          </th>
                          <tr>
                             <td>Вова</td> 
                             <td>1</td> 
                          </tr>
                          <tr>
                                <td>Катя</td> 
                                <td>2</td> 
                          </tr>
                        </table>
                </div>


            </div>
                
                
            <div class="col-md-8">

                <a href="" class="btn btn-success" >Принять предложение</a>
                <a href="" class="btn btn-danger" >Отклонить предложение</a>

                <div id="comments" class="comments-area">
                    <h2 class="comments-title"></h2>
                    <ol class="comment-list">
                        <li id="comment-1" class="comment even thread-even depth-1 parent">
                            <article class="comment-body">
                                <img alt="avatar" src="/static/images/user.jpg" class="avatar">
                                <div class="comment-wrapper">
                                    <div class="comment-meta">
                                        <div class="comment-author vcard">
                                            <h4 class="fn">Jhon Doe</h4>
                                            <span class="comment-metadata">05/08/2016</span>
                                        </div>
                                        <div class="comment-content">
                                            <p>
                                                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dolorem que laudantium, totam rema aperiam, eaque ipsa quae ab illo inventore veritatis.
                                            </p>
                                        </div>
                                    </div>
                                    
                                </div>
                            </article>

                            <article class="comment-body">
                                    <img alt="avatar" src="/static/images/user.jpg" class="avatar">
                                    <div class="comment-wrapper">
                                        <div class="comment-meta">
                                            <div class="comment-author vcard">
                                                <h4 class="fn">Jhon Doe</h4>
                                                <span class="comment-metadata">05/08/2016</span>
                                            </div>
                                            <div class="comment-content">
                                                <p>
                                                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dolorem que laudantium, totam rema aperiam, eaque ipsa quae ab illo inventore veritatis.
                                                </p>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </article>

                        </li>
                    </ol>
                </div>


                <div id="respond" class="comment-respond">
                    
                    <form action="#" method="post" id="commentform" class="comment-form" novalidate="">
                        
                        <div class="row comment-form-comment">
                            <div class="col-lg-2">
                                <label for="comment">Ответить</label>
                            </div>
                            <div class="col-lg-10">
                                <textarea id="comment" name="comment" placeholder="Tell us about your opinion about this story..."></textarea>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-2"></div>
                            <div class="col-lg-10 text-right">
                                <input name="submit" type="submit" id="submit" value="Comment">
                            </div>
                        </div>
                    </form>
                </div>
    



                    
            </div>            
                
                 
               
    </div>
</div>
