<div [ngBusy]="busy"></div>
<div class="row">
    <div class="col-md-12">
        <h4>#{{ announcement.id }} {{ announcement.title }} {{  announcement.current_user.name }} </h4>
        
        <div class="row">
                
            <div class="col-md-4">
                <section class="widget widget_popular_posts">
                            
                    
                    <ul>
                        <li>
                            <div class="post-thumb">
                                <a href="#"><img src="{{ announcement.thumbnail }}" alt="#"></a>
                            </div>
                            <div class="post-content">
                                <h3 class="post-title">Цена: {{ announcement.price }} грн. </h3>

                                <h3 class="post-title">
                                    {{ announcement.opt_roznica }}, {{ announcement.new_bu }}
                                </h3>
                                <span class="post-comment"><i class="fa fa-comment" aria-hidden="true"></i> предложений - {{ announcement.cnt_offers }}</span>
                                <span class="post-date"><i class="fa fa-calendar-o" aria-hidden="true"></i>  {{ announcement.created_at }}</span>
                            </div>
                        </li>
                    </ul>
                </section>


                <div class="row"  *ngIf="!announcement.is_done">
                    <a (click)="closeAnnouncement(announcement.id)" class="btn btn-danger" >Закрыть сделку</a>
                    <a  class="btn btn-success" >Улучшить объявление</a>
                </div>                

                

                <div class="table-responsive" *ngIf="!announcement.is_done">
                        <h4 class="title table-hover">Заявки продавцов</h4>
                        <table class="table">
                        <!---
                          <th>
                              <tr>
                                <td>Автор</td>
                                <td>Цена</td>
                                <td>Сообщений</td>
                            </tr>                                                                           
                          </th>
                        -->
                          <tr *ngFor="let o of announcement.offers" [class.current-row]="o.id == current_offer.id">
                            <td><a routerLink="/user/detail/{{ o.user.id }}"> <span class="fa fa-user"></span></a></td> 
                            <td  [class.current-row]="o.id == current_offer.id"><a (click)="selectOffer(o.id)" class="pointer"> {{ o.user.name }} </a></td> 
                             <td>{{ o.price }} грн.</td> 
                             <td>сообщений {{ o.cnt_messages }}</td>
                             <td><img src="/static/images/icons/{{ o.status }}.png" /></td>
                          </tr>
                         
                        </table>
                </div>


            </div>
                
                
            <div class="col-md-8">

                    <div class="alert alert-danger text-center" *ngIf="announcement.cnt_offers == 0">
                            Предложения отсутствуют.
                    </div>

                    <div class="alert alert-danger text-center" *ngIf="announcement.is_done">
                        Сделка закрыта.
                    </div>                    

                    <flash-messages></flash-messages>

                    <div *ngIf="announcement.cnt_offers>0 && !announcement.is_done">

                    <h4>#{{current_offer.id}} {{current_offer.user.name}}</h4>    
                    <a  class="btn btn-success" (click)="acceptOffer(current_offer.id)">Принять предложение</a>
                    <!-- <a  class="btn btn-danger" (click)="deniteOffer(current_offer.id)">Отклонить предложение</a> -->
                    <a  class="btn btn-danger" >Заблокировать пользователя</a>

                    <div id="comments" class="comments-area" #scrollMe>
                        <h2 class="comments-title"></h2>
                        <ol class="comment-list">
                            <li id="comment-1" class="comment even thread-even depth-1 parent">
                    

                                
                                <article class="comment-body" *ngFor="let m of current_offer.messages">
                                        <img alt="avatar" src="{{ m.user.thumbnail }}" class="avatar">
                                        <div class="comment-wrapper">
                                            <div class="comment-meta">
                                                <div class="comment-author vcard">
                                                        <h4 class="fn">{{m.id}}  {{ m.user.name }}</h4>
                                                    
                                                </div>
                                                <div class="comment-content">
                                                    <p [innerHTML]="m.message"></p> 
                                                    <p *ngIf="m.new_price > 0">
                                                        Новая цена: {{ m.new_price }} грн.
                                                    </p>
                                                    
                                                    <p *ngIf="m.file?.length > 0">
                                                       <img class="img-responsive" src="{{ m.file }}" />
                                                       
                                                    </p>
                                                </div>
                                                <span class="comment-metadata">{{ m.created_at }}</span>
                                            </div>
                                            
                                        </div>
                                    </article>
                                

                            </li>
                        </ol>
                    </div>


                    <div id="respond" class="comment-respond">
                        
                        <form [formGroup]="messageForm" (ngSubmit)="doSaveMessage($event)" method="post" class="comment-form" >
                            <input type="hidden" formControlName="offer_id" />
                            <div class="row comment-form-comment">
                                <div class="col-lg-3">
                                    <label for="comment">Цена</label>
                                </div>
                                <div class="col-lg-3">
                                    <input type="text" formControlName="new_price" />
                                </div>
                                <div class="col-lg-3">
                                        <label for="comment">Файл</label>
                                    </div>
                                    <div class="col-lg-3">
                                            <input type="file" ng2FileSelect [uploader]="uploader" />
                                            <button type="button" class="btn btn-success btn-s"
                                            (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
                                             Загрузить
                                            </button>
                                            <div class="progress" style="">
                                                    <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
                                            </div>
                                    </div>
                            </div>

                            <div class="row comment-form-comment">
                                    <div class="col-lg-2">
                                        <label for="comment">Ответить</label>
                                    </div>
                                    <div class="col-lg-10">
                                        <textarea id="comment" formControlName="message" placeholder="Сообщение"></textarea>
                                        <small *ngIf="!messageForm.controls.message.valid" class=" red text-danger">
                                                Поле обязательно!
                                        </small>

                                    </div>
                            </div>


                            <div class="row">
                                <div class="col-lg-2"></div>
                                <div class="col-lg-10 text-right">
                                    <input name="submit" [disabled]="!messageForm.valid" type="submit" id="submit" value="Сохранить">
                                </div>
                            </div>
                        </form>

                    </div>
    
                </div>

                    
            </div>            
                
                 
               
    </div>
</div>
