<div [ngBusy]="busy"></div>
<div class="row">
    <div class="col-md-12">


            <div class="alert alert-danger text-center" >
                    Заявки отсутствуют.
            </div>
            
            <article class="job-item clearfix" *ngFor="let a of offers" >
                    <figure class="job-figure">
                        <a routerLink="/offer/detail/{{a.id}}" href="#"><div innerHTML="{{ a.thumbnail }}"></div></a>
                    </figure>
                    <header class="job-header">
                        <h4 class="job-title"><a routerLink="/offer/detail/{{a.id}}" href="#">{{ a.title }}</a></h4>
                        <address class="job-address">{{ a.region }} {{ a.city }}</address>
                        <p class="job-time"><span>Добавлено: {{ a.created_at }}</span></p>
                    </header>
                    <div class="job-meta">
                        <span class="job-price">{{ a.price }} грн.</span>
                        
                    </div>
            </article>                
               
    </div>
</div>

