<div [ngBusy]="busy"></div>
<div class="row">
    <div class="col-md-12">
        <h4>#12 Продам холодильник</h4>

        <div class="row">    
                <div class="col-md-4">

                        <section class="widget widget_popular_posts">
                            <ul>
                                <li>
                                    <div class="post-thumb">
                                        <a href="#"><img src="/static/images/noimage.png" alt="#"></a>
                                    </div>
                                    <div class="post-content">
                                        <h3 class="post-title">Цена:123 грн. </h3>
        
                                        <h3 class="post-title">
                                            текст
                                        </h3>
                                        <span class="post-comment"><i class="fa fa-comment" aria-hidden="true"></i> текст</span>
                                        <span class="post-date"><i class="fa fa-calendar-o" aria-hidden="true"></i>  дата</span>
                                    </div>
                                </li>
                            </ul>
                        </section>

                        <div class="row">
                                <a href="" class="btn btn-danger" >Завершить сделку</a>      
                        </div>

                </div>
                <div class="col-md-8">
                    <h4 class="title table-hover">Сообщения</h4>
 
                    <div id="comments" class="comments-area">
                            <h2 class="comments-title"></h2>
                            <ol class="comment-list">

                                <li id="comment-1" class="comment even thread-even depth-1 parent">
                                    <article class="comment-body">
                                        <img alt="avatar" src="/static/images/noimage.png" class="avatar">
                                        <div class="comment-wrapper">
                                            <div class="comment-meta">
                                                <div class="comment-author vcard">
                                                    <h4 class="fn">Владимир Петрович</h4>
                                                </div>
                                                <div class="comment-content">
                                                    <p>
                                                            сообщение сообщение сообщение сообщение сообщение сообщение 
                                                    </p>
                                                    <p class="strong">
                                                           Предложенная цена 234 грн.
                                                    </p>
                                                </div>
                                                <span class="comment-metadata float-right" >2018-01-01</span>
                                            </div>
                                            
                                        </div>
                                    </article>
                                </li>

                                <li id="comment-1" class="comment even thread-even depth-1 parent">
                                    <article class="comment-body">
                                        <img alt="avatar" src="/static/images/noimage.png" class="avatar">
                                        <div class="comment-wrapper">
                                            <div class="comment-meta">
                                                <div class="comment-author vcard">
                                                    <h4 class="fn">Владимир Петрович</h4>
                                                </div>
                                                <div class="comment-content">
                                                    <p>
                                                            сообщение сообщение сообщение сообщение сообщение сообщение 
                                                    </p>
                                                    <p class="strong">
                                                            Предложенная цена 234 грн.
                                                    </p>
                                                </div>
                                                <span class="comment-metadata float-right" >2018-01-01</span>
                                            </div>
                                            
                                        </div>
                                    </article>
                                </li>                                

                            </ol>
                        </div>

                        <form   method="post" class="comment-form" >
                        
                            <div class="row comment-form-comment">
                                <div class="col-lg-3">
                                    <label for="comment">Цена</label>
                                </div>
                                <div class="col-lg-3">
                                    <input type="text"  />
                                </div>
                                <div class="col-lg-3">
                                        <label for="comment">Файл</label>
                                    </div>
                                    <div class="col-lg-3">
                                        <input  type="file" />
                                    </div>
                            </div>
    
                            <div class="row comment-form-comment">
                                    <div class="col-lg-2">
                                        <label for="comment">Ответить</label>
                                    </div>
                                    <div class="col-lg-10">
                                        <textarea id="comment" placeholder="Сообщение"></textarea>
                                    </div>
                            </div>
    
    
                            <div class="row">
                                <div class="col-lg-2"></div>
                                <div class="col-lg-10 text-right">
                                    <input name="submit" type="submit" id="submit" value="Comment">
                                </div>
                            </div>
                        </form>


                </div>
        </div>        
    </div>
</div>
