<div [ngBusy]="busy"></div>
<div class="row">
    <div class="col-md-12">
        

        <div class="row">    
                <div class="col-md-4">
                    <h4>#{{ offer.id }}  {{ offer.title }}</h4>
                        <section class="widget widget_popular_posts">
                            <ul>
                                <li>
                                    <div class="post-thumb">
                                        <a href="#"><img src="{{ offer.thumbnail }}" alt="#"></a>
                                    </div>
                                    <div class="post-content">
                                        <h3 class="post-title">Цена: {{ offer.price }} грн. </h3>
        
                                        <h3 class="post-title">
                                            
                                        </h3>
                                        
                                    </div>
                                </li>
                            </ul>
                        </section>
                        <!--
                        <div class="row">
                                <a href="" class="btn btn-danger" >Завершить сделку</a>      
                        </div>
                        -->


                        <div class="table-responsive">
                            <h4 class="title table-hover">Предложения покупателей</h4>

                            <nav *ngIf="offers.count > offers.limit" class="page-pagination float-right" >
                
                                <span class="tabel-label">Страница: {{ offers.current }}. Всего: {{ offers.count }}</span>
                                <ul class="pagination">
                                    <li class="pager-item"><a *ngIf="offers.has_prev" class="previous" (click)="goToPage(offers.current-1, offers.limit)" >
                                            <i class="fa fa-chevron-left" aria-hidden="true"></i>    
                                    </a></li>
                                    
                                    <li  class="pager-item" ><a *ngIf="offers.has_next" class="previous" (click)="goToPage(offers.current+1, offers.limit)">
                                            <i class="fa fa-chevron-right" aria-hidden="true"></i>    
                                    </a></li>
                                </ul>
                            </nav>

                            <table class="table">
                              <tr *ngFor="let o of offers.results" [class.current-row]="o.id == offer.id">
                                <td><a routerLink="/user/detail/{{ o.buyer.id }}"> <span class="fa fa-user"></span></a></td> 
                                <td ><a (click)="selectOffer(o.id)" class="pointer"> #{{ o.id }} {{ o.buyer.profile.full_name }} </a></td> 
                                 <td> <a (click)="selectOffer(o.id)" class="pointer">{{ o.announcement }} <p>{{ o.price }} грн. </p></a></td> 
                                 
                              </tr>
                             
                            </table>
                    </div>                        

                </div>
                <div class="col-md-8">
                    <h4 class="title table-hover">Сообщения</h4>
 
                    <div id="comments" class="comments-area" #scrollMe >
                           
                            <ol class="comment-list">

                                <li id="comment-1" class="comment even thread-even depth-1 parent" *ngFor="let m of offer.messages">
                                    <article class="comment-body">
                                        <img alt="avatar" src="{{ m.user.thumbnail }}" class="avatar">
                                        <div class="comment-wrapper">
                                            <div class="comment-meta">
                                                <div class="comment-author vcard">
                                                    <h4 class="fn">{{ m.user.name }}</h4>
                                                </div>
                                                <div class="comment-content">
                                                    <p [innerHTML]="m.message"></p> 
                                                    <p class="strong" *ngIf="m.new_price > 0">
                                                           Предложенная цена {{ m.new_price }} грн.
                                                    </p>
                                                    <p *ngIf="m.file?.length > 0">
                                                        <img class="img-responsive" src="{{ m.file }}" />
                                                        
                                                     </p>
                                                </div>
                                                <span class="comment-metadata float-right" >{{ m.created_at }}</span>
                                            </div>
                                            
                                        </div>
                                    </article>
                                </li>

                                                              

                            </ol>
                        </div>

                        <div id="respond" class="comment-respond">
                    
                            <form [formGroup]="messageForm" (ngSubmit)="doSaveMessage($event)" method="post" class="comment-form" >
                                <input type="hidden" formControlName="offer_id" />
                                <div class="row comment-form-comment">
                                    <!--
                                    <div class="col-lg-3">
                                        <label for="comment">Цена</label>
                                    </div>
                                    <div class="col-lg-3">
                                        <input type="text" formControlName="new_price" />
                                    </div>
                                -->


                                </div>
        
                                <div class="row comment-form-comment">
                                        <div class="col-lg-2">
                                            <label for="comment">Ответить</label>
                                        </div>
                                        <div class="col-lg-10">
                                            <textarea id="comment" formControlName="message" placeholder="Сообщение"></textarea>
                                            <small *ngIf="!messageForm.controls.message.valid" class=" red text-danger">
                                                    Поле обязательно!
                                            </small>
        
                                        </div>
                                </div>
        
        
                                <div class="row">
                                        <div class="col-lg-2">
                                                <input type="file" ng2FileSelect [uploader]="uploader" />
                                                <button type="button" class="btn btn-success btn-s"
                                                (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
                                                 Загрузить
                                                </button>
                                                <div class="progress" style="">
                                                        <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
                                                </div>
                                            </div>
                                    <div class="col-lg-10 text-right">
                                        <input name="submit" [disabled]="!messageForm.valid" type="submit" id="submit" value="Ответить">
                                    </div>
                                </div>
                            </form>
                        </div>


                </div>
        </div>        
    </div>
</div>
