{% extends "base.html" %}
{% load i18n %}
{% load widget_tweaks %}

{% block meta_title %}  {% endblock %}


{% block content %}
<style>
        #id_desc {
                height: 100px;
        }
        #submit {
                background: black;
                border-radius: 5px;
        }
</style>
<div class="container main-container">

        <div class="col-md-6">
                <h4 class="title">{{ item.title }}</h4>
                <div class="line"></div>
                <div class="row">
                <div class="col-xs-4 col-sm-4">
                        <div class="profile-image">
                        
                        {{ item.thumbnail_big|safe }}
                        <div class="upload-photo"><i class="fa fa-search" aria-hidden="true"></i></div>
                        </div>
                </div>
                <div class="col-xs-8 col-sm-8 tips">
                        <h5 class="title">
                                {% trans 'Категория:' %}
                                <a href="{{ item.category.get_absolute_url }}">{{ item.category }}</a>
                                &nbsp;
                                {{ item.get_link_to_sub_category }}
                                &nbsp;
                                {{ item.get_link_to_sub_sub_category }}
                        </h5>
                        <p>
                                <span class="bold">{% trans 'Регион' %}:</span>
                                {{ item.region }}, {{item.city}}
                        </p>
                        <p>
                                <span class="bold">{% trans 'Цена' %}:</span>
                                {{ item.price }} грн.
                        </p>                                
                        <p>
                                <span class="bold">{% trans 'Тип товара' %}:</span>
                                {{ item.get_new_bu_display }}.
                        </p> 
                        <p>
                                <span class="bold">{% trans 'Тип покупки' %}:</span>
                                {{ item.get_once_display }}, {{ item.get_opt_roznica_display }}
                        </p>                               
                        <p>
                                <span class="bold">{% trans 'Количество' %}:</span>
                                {{ item.ammount }} шт.
                        </p>  
                        
                        <section class="widget widget_popular_posts">
                                <h2 class="widget-title">{% trans 'Автор' %}</h2>
                                <ul>
                                        <li>
                                        <div class="post-thumb">
                                                <a href="#">{{ item.user.profile.thumbnail|safe }}</a>
                                        </div>
                                        <div class="post-content">
                                                <h3 class="post-title bold">{{ item.user.profile.full_name }}</h3>
                                                <span class="post-comment"><i class="fa fa-comment" aria-hidden="true"></i> 2 Comments</span>
                                               
                                        </div>
                                        <div class="post-content">
                                                <span class="post-date">
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                         {% trans 'рейтинг' %}</span>
                                        </div>

                                        <div class="post-content">
                                                <span class="post-date"><i class="fa fa-calendar-o" aria-hidden="true"></i> July 11, 2016</span>
                                        </div>                                        


                                        </li>
                                </ul>
                        </section>
                                            
                </div>
                </div>
        </div>

        <div class="col-md-6">
                <h4 class="title">{% trans 'Предложить товар' %}</h4>
                <div class="line"></div>

                {% if form.errors %}
                <div class="row">
                    <div class="col-md-4 col-md-offset-4">
                        <div class="alert alert-danger" role="alert">
                            <span class="fa fa-exclamation" aria-hidden="true"></span>
                            <span class="sr-only">Error:</span>
                            {% for error in form.errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                    </div>
                </div>   
             {% endif %}                 

                <form enctype="multipart/form-data" id="basic-information" class="profile-forms basic-information" method="post" action="">
                        {% csrf_token %}
                        {{ form.announcement_id }}
                        <div class="row comment-form-comment">
                                <div class="col-lg-2">
                                <label for="comment">{% trans 'Текст заявки' %}</label>
                                </div>
                                <div class="col-lg-10">
                                        {{ form.desc|add_class:"form-control" }}
                                <span class="error-block">{{ form.decs.errors }}</span>
                                </div>
                        </div>

                        <div class="row comment-form-author">
                                <div class="col-lg-2">
                                <label for="author">{% trans 'Имя' %}:</label>
                                </div>
                                <div class="col-lg-4">
                                
                                        {{ form.username }}
                                </div>
                                <div class="col-lg-2">
                                <label for="author">{% trans 'Цена' %}:</label>
                                </div>
                                <div class="col-lg-4">
                                        {{ form.price }}
                                </div>
                        </div>

                        <div class="row comment-form-email">
                                        <div class="col-lg-2">
                                        <label for="email">{% trans 'URL ресурс' %}</label>
                                        </div>
                                        <div class="col-lg-4">
                                                {{ form.url }}
                                        </div>
                                        <div class="col-lg-2">
                                        <label for="email">{% trans 'Файл' %}</label>
                                        </div>
                                        <div class="col-lg-4">
                                                {{ form.file }}
                                        </div>
                                </div>

                        <div class="row comment-form-email">
                                <div class="col-lg-2">
                                <label for="email">Email</label>
                                </div>
                                <div class="col-lg-4">
                                        {{ form.email }}
                                </div>
                                <div class="col-lg-2">
                                <label for="email">{% trans 'Телефон' %}</label>
                                </div>
                                <div class="col-lg-4">
                                        {{ form.phone }}
                                </div>
                        </div>

                        <div class="row">
                                <div class="col-lg-4">
                                       
                                </div>
                               
                                <div class="col-lg-6 text-right">
                                <input name="submit" type="submit" id="submit" value="{% trans ' Отправить заявку' %}">
                                </div>
                        </div>
                </form>




        </div>        
            

       
</div>




{% endblock %}
