<div class="job-item-wrap col-xs-6" >
        <article class="job-item clearfix">
        <figure class="job-figure">
                <a href="{{ i.get_absolute_url }}">{{ i.thumbnail|safe }}</a>
        </figure>
        <header class="job-header">
                <h4 class="job-title"><a href="{{ i.get_absolute_url }}">{{ i.title }}</a></h4>
                <address class="job-address">{{ i.region }}, {{ i.city }}<br> 
                </address>
                <p class="job-time"><a href="{{ i.get_actual_category.get_absolute_url }}">{{ i.get_actual_category }} </a></p>
        </header>
        <div class="job-meta">
                <span class="job-price">{{ i.price }} грн.</span>
                <p class="job-skills">
                <span>{{ i.get_new_bu_display }}</span>
                
                </p>
        </div>
        </article>
</div>
        

